html, body {
    height: 100%;

}

body {
    margin: 10px; padding: 0;
}

#pageHeader{
    background-color: #000;
}

.toolbar{
    display: flex;
    justify-content: center;
}
#pageMain {
    height: 82vh;
    padding: 2px;
    background-color: #000;
    overflow: hidden;
}
#main{
    background-color: #000;
}
.ui-grid-b{
    background-color: #000;
}

/* Layers */
.layerContainer {
    position: relative; padding: 0;
    margin: auto; text-align: center; }
.imageLayer {
    position: absolute;
    left: 0px;
}
.drawDiv { position: absolute; pointer-events: none; }

.dropBox {}
.dropBoxBorder {
    margin: 20px auto;
    border: 5px dashed #ccc; }
.dropBoxBorder.hover {
    margin: 20px auto;
    border: 5px dashed #cc0; }

.inline { display: inline-block !important; }

/* Info */
.info { color: #cde; text-shadow: 1px 1px #000; font-size: 80%; }
.infoc { color: #ff0; text-shadow: 1px 1px #000; font-size: 120%; }
.infotl { position: absolute; top: 0; left: 0; text-align: left; }
.infotc { position: absolute; top: 0; left: 50%; right: 50%; text-align: center; }
.infotr { position: absolute; top: 0; right: 0; text-align: right; }
.infocl { position: absolute; bottom: 50%; left: 0; text-align: left; }
.infocr { position: absolute; bottom: 50%; right: 2px; text-align: right; }
.infobl { position: absolute; bottom: 0; left: 0; text-align: left; }
.infobc { position: absolute; bottom: 0; left: 50%; right: 50%; text-align: center; }
.infobr { position: absolute; bottom: 0; right: 0; text-align: right; }

.plot { position: absolute; width: 100px; height: 50px; bottom: 15px; right: 0; }
.infoLayer ul { margin: 0; padding: 2px; list-style-type: none; }
.infoLayer li { margin-top: 0; }
.infoLayer canvas { margin: 0; padding: 2px; }

/* Tag list */
table.tagsTable { border-collapse: collapse; }
table.tagsTable thead th {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;}
table.drawsTable { border-collapse: collapse; }
table.drawsTable td { vertical-align: middle; }
table.drawsTable thead th { text-transform: uppercase;
    font-weight: bold; opacity: 0.5;}
.highlighted { background: #f87217; }
.tags form { width: 50%; }


button.ui-btn.ui-btn-b{
    border-radius: 3px;
}

#pageFooter {
    background-color: black;
    border: none;
}

.ui-btn.ui-btn-inline.ui-btn-icon-notext {
    width: 60px;
    border-radius: 10px;
    padding: 10px;
}

#help_page, #tags_page, #drawList_page{
    background-color: black;
}


select {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 22px;
}


input.imagefiles::-webkit-file-upload-button,  input.imagefolder::-webkit-file-upload-button{
    visibility: hidden;
}

input.imagefiles::before, input.imagefolder::before {
    content: 'Select some files';
    display: inline-flex;
    background-color:rgb(51, 51, 51);
    border: 1px solid rgba(17, 17, 17, 0.548);
    border-radius: 3px;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}


div.ui-input-text.ui-body-inherit.ui-corner-all.ui-mini.ui-shadow-inset.ui-input-has-clear{
    border: none;
    box-shadow: none;
}
